#myBtn{
     position: fixed;
     bottom: 20px;
     right: 30px;
     z-index: 99;
     font-size: 18px;
     border: none;
     outline: none;
     color: white;
     cursor: pointer;
     padding: 8px 10px;
     border-radius: 100%;
     background: linear-gradient(
       140deg,
       #5fcf80 0%,
       #65f08f 50%,
       #4ee77c 75%
     ) !important;
     font-weight: 500;
     animation: move 1s alternate infinite;
     cursor: pointer;
     animation-timing-function: ease-in-out;
}
#myBtn > img{
     width: 30px;
}

@keyframes move {
     0%{
          transform: translateY(-20px);
     }
     100%{
          transform: translateY(0);
     }
}
