.accordion-button:not(.collapsed) {
     background-color: var(--main-color);
     color: #000; /* Set the desired text color when the header is clicked */
     border: none;
   }

   .accordion-button {
     background-color: var(--main-color);
     border: none;
     color: #000; /* Set the desired text color for the header */
   }
 
   .accordion-button:focus {
     box-shadow: none; /* Remove the focus box shadow when clicked */
   }
   .accordion-header {
     background-color: var(--main-color);
   }