.hover-text:hover{
     color: var(--gold-color);
}
.navbar-brand{
     text-transform: uppercase;
     color: var(--white-color);
}
.navbar-brand:hover {
     color: var(--white-color);
}
.navbar-brand:focus{
     color: var(--white-color) !important;
}
.header{
     position: sticky;
     top: 0;
     z-index: 1000;
}
/* .nav-color{
     background-color: #383d3b;
} */
.nav-text{
     color: var(--white-color);
}
.hover-text:focus{
     color: var(--gold-color)!important;
}

.navbar-toggler{
      border: 1px solid var(--main-color) !important;
     outline: none !important; 
} 
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler .line{
     background-color: #fff;  
}
.hamburger{
     width: 22px;
}
.navbar , .nav-color, .nav{
     /* background-color: var(--white-color); */
     background-color: var(--main-color);
}
.dropdown-item:hover{
          background-color: var(--gold-color);
}
.dropdown-item{
     color: var(--white-color);
     
}