.teachers{
     margin-top: 13%;
}
.teachers > h1{
     background-color: var(--main-color);
     color: white;
     margin-bottom: 30px;
     text-align: center;
     padding: 20px ;
}

.member-content > h4 {
     margin: 25px 0px;
}
.member > img{
     width: 100%;
}
.member-content > span{
     font-weight: 600;
     font-size: 18px;
     margin-bottom: 50px;
     color: var(--main-color);
}


.accordion {
     margin-top: 10% ;
     width: 90%;
     display: flex;
     justify-content: center;
     /* align-items: center; */
     flex-direction: column;
   }
   .accordion > h1 {
     margin-bottom: 50px;
   }

   .accordion-item {
     border: 1px solid #ccc;
     margin-bottom: 5px;
   }

   .accordion-header {
     padding: 10px;
     cursor: pointer;
   }

   .accordion-content {
     display: none;
     padding: 10px;
   }

   input[type="checkbox"] {
     display: none;
   }

   input[type="checkbox"]:checked + .accordion-header + .accordion-content {
     display: block;

   }